.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.gitignore
node_modules/**
!node_modules/axios/**
!node_modules/dotenv/**
!node_modules/follow-redirects/**
!node_modules/proxy-from-env/**

# 开发相关文件
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore
tsconfig.tsbuildinfo
webpack.config.js

# 源代码和测试文件
test/**
out/test/**